<h2
	class="-mt-5 mb-4 text-white drop-shadow-[0.4rem_0.4rem_var(--tw-shadow-color)] shadow-black text-stroke-1 text-stroke-2 text-center xs:text-6xl ms:text-7xl animate-fade-up animate-once animate-duration-700 animate-delay-[200ms]"
>
	<span class="leading-2 xs:text-3xl ms:text-5xl custom-font">y</span>
</h2>
<h2
	class="leading-5 custom-font text-white drop-shadow-[0.4rem_0.4rem_var(--tw-shadow-color)] shadow-black text-stroke-2 text-center xs:text-6xl ms:text-7xl animate-fade-up animate-once animate-duration-700 animate-delay-[200ms]"
>
	JOSEPH
</h2>

<style>
	span {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
	}

	.delay-1 {
		animation-delay: calc(0.12s * 1);
	}

	.delay-2 {
		animation-delay: calc(0.12s * 2);
	}

	.delay-3 {
		animation-delay: calc(0.12s * 3);
	}
	.delay-4 {
		animation-delay: calc(0.12s * 4);
	}
	.delay-5 {
		animation-delay: calc(0.12s * 5);
	}

	.delay-6 {
		animation-delay: calc(0.12s * 6);
	}

	.delay-7 {
		animation-delay: calc(0.12s * 7);
	}

	.delay-8 {
		animation-delay: calc(0.12s * 8);
	}
	.delay-9 {
		animation-delay: calc(0.12s * 9);
	}
	.delay-10 {
		animation-delay: calc(0.12s * 10);
	}
	.delay-11 {
		animation-delay: calc(0.12s * 11);
	}
	.delay-12 {
		animation-delay: calc(0.12s * 12);
	}
	.delay-13 {
		animation-delay: calc(0.12s * 13);
	}

	@keyframes waviy {
		0%,
		40%,
		100% {
			transform: translateY(0);
		}
		20% {
			transform: translateY(-20px);
		}
	}
</style>
