---
import Layout from '../layouts/Layout.astro'
import PageHeader from '../components/PageHeader.astro'
import Title from '../components/Title.astro'
import ContactForm from '../components/ContactForm.tsx'
import IconButton from '../components/IconButton.astro'
import whatsappSvg from '../assets/svgs/whatsapp.svg?raw'
import messengerSvg from '../assets/svgs/messenger.svg?raw'
---

<Layout
	title="Happy Hop | Contacto"
	ogDescription="¡Hagamos de tu evento algo divertido!"
	ogUrl="https://happy-hop/contacto"
	ogImage="https://firebasestorage.googleapis.com/v0/b/general-testing-70f4c.appspot.com/o/happy-hop%2Fhh-contacto.webp?alt=media&token=247a2975-df05-4e01-8956-8a41f62caf78"
>
	<main>
		<PageHeader
			class="mb-20"
			title="Contacto"
			subtitle="¡Hagamos de tu evento algo divertido!"
			class="bg-sky-400"
		>
			<img
				src="/contact-us.webp"
				alt="contactanos"
				class="delay-[400ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0 sm:max-w-[50%] scale-125 my-0 mx-auto lg:absolute lg:-bottom-1 lg:-right-10 md:max-w-[320px]"
				data-taos-offset="-50"
			/>
		</PageHeader>
		<section class="grid grid-cols-1 gap-0 md:gap-[80px] md:grid-cols-2 gap-y-12 my-40">
			<div class="flex flex-col">
				<Title
					title="Puedes enviarnos un mensaje vía:"
					caption="¡La diversión no espera!"
					captionClass="text-sky-500 before:bg-sky-500"
					offsetCaption="-100"
					offsetTitle="-100"
				/>
				<div
					class="delay-[200ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0 flex gap-10 mt-10"
					data-taos-offset="-200"
				>
					<IconButton src={whatsappSvg} alt="whatsapp" class="w-16 h-16 bg-sky-500" />
					<IconButton src={messengerSvg} alt="messenger" class="w-16 h-16 bg-sky-500" />
				</div>
				<p
					class="delay-400ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0 mt-10 max-w-[35ch]"
					data-taos-offset="2"
				>
					O envianos un E-mail desde nuestro formulario, ¡Nos pondremos en contacto contigo!
				</p>
			</div>
			<div
				class="delay-400ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="-200"
			>
				<ContactForm client:only="react" />
			</div>
		</section>
	</main>
</Layout>
