---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import ServiceCard from '../components/ServiceCard.astro'
import PhotoGallery from '../components/PhotoGallery.astro'
import Button from '../components/Button.astro'
import FeatureCard from '../components/FeatureCard.astro'
import TitleShadow from '../components/TitleShadow.astro'
import castleSvg from '../assets/svgs/castle.svg?raw'
import inviteSvg from '../assets/svgs/invite.svg?raw'
import popsiclesSvg from '../assets/svgs/popsicles.svg?raw'
import TestimonialCard from '../components/TestimonialCard.astro'
import NewsLatter from '../components/NewsLatter.astro'
import { SAY_HI_WHATSAPP } from '../constants/urls'
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="flex flex-col gap-4 md:flex-row justify-between items-center gap-y-12">
			<div class="">
				<Title
					title="Saltos, risas y momentos inolvidables te esperan"
					caption="¡Descubre la emoción de nuestros inflables!"
				/>
				<Button target="_blank" href={SAY_HI_WHATSAPP} title="Contactar" class="mt-8" />
			</div>
			<PhotoGallery />
		</section>
		<section
			class="flex gap-4 flex-col lg:flex-row lg:flex-wrap justify-between items-start gap-y-10 min-h-[500px] my-32 mb-44"
		>
			<FeatureCard
				title="Inflables Fantásticos"
				description="Salta hacia la diversión con nuestros inflables coloridos y seguros, perfectos para cada fiesta infantil"
				className="bg-green-500"
			/>
			<FeatureCard
				title="Invitaciones Innovadoras"
				description="Cautiva desde el inicio con invitaciones digitales creativas y personalizadas que anuncian tu evento de manera única"
				className="lg:self-end bg-sky-500"
			/>
			<FeatureCard
				title="Snacks Super Deliciosos"
				description="Refresca tu fiesta con paletas de hielo y helado delicioso, con una variedad de sabores irresistibles"
				className="bg-pink-500"
			/>
			<FeatureCard
				title="Eventos Memorables"
				description="Todo en uno: inflables emocionantes, invitaciones digitales y paletas de hielo para celebraciones que todos recordarán"
				className="lg:self-end bg-yellow-500"
			/>
		</section>
		<TitleShadow bgTitle="servicios" title="servicios" subtitle="TODO EN UNO" />
		<section class="grid lg:grid-cols-3 gap-8 mt-20 mb-44">
			<ServiceCard
				image={castleSvg}
				subtitle="Diversión sin Límites"
				title="Inflables"
				body="Nuestros inflables no son solo grandes y coloridos, son un mundo de alegría para los pequeños. Seguros, limpios y listos para cualquier tema de fiesta, garantizan horas de diversión sin parar."
			/>
			<ServiceCard
				image={inviteSvg}
				subtitle="Tu Evento Comienza Aquí"
				title="Invitaciones Digitales"
				body="Causa una primera impresión asombrosa con nuestras invitaciones digitales personalizadas. Diseños únicos que capturan la esencia de tu evento, fáciles de compartir y siempre memorables."
			/>
			<ServiceCard
				image={popsiclesSvg}
				subtitle="Sabores que Encantan"
				title="Paletas y Helados"
				body="¿Qué sería una fiesta sin un toque dulce? Nuestras paletas de hielo y helados artesanales son la delicia perfecta para cualquier edad. Con una amplia gama de sabores, cada uno es una fiesta en sí mismo."
			/>
		</section>
		<TitleShadow
			bgTitle="testimonios"
			title="testimonios"
			subtitle="LO QUE DICEN NUESTROS CLIENTES"
		/>
		<section class="grid lg:grid-cols-3 gap-6 my-20">
			<TestimonialCard
				name="Diego Salas"
				body={`"Nunca olvidaré la cara de felicidad de mis hijos jugando en los inflables. Todo fue perfecto, desde las invitaciones digitales hasta las deliciosas paletas de hielo. ¡Un servicio excepcional!"`}
			/>
			<TestimonialCard
				name="Tamara Sanchez"
				body={`"Como profesional de eventos, he trabajado con muchos proveedores, pero Happy Hop realmente destaca. Su atención al detalle en las invitaciones digitales y la calidad de sus inflables hacen cada evento único y especial."`}
			/>
			<TestimonialCard
				name="Bean Dantonio"
				body={`"Elegí Happy Hop para una fiesta sorpresa y fue increíble. Los adultos disfrutamos tanto como los niños con los inflables, y las paletas de hielo fueron el toque perfecto para una tarde de verano. ¡Totalmente recomendado!"`}
			/>
		</section>
		<section class="my-36">
			<NewsLatter />
		</section>
	</main>
</Layout>
