---
import Layout from '../layouts/Layout.astro'
import TitleShadow from '../components/TitleShadow.astro'
import PageHeader from '../components/PageHeader.astro'
import PricingCard from '../components/PricingCard.astro'
import { SOCIAL_MEDIA } from '../constants/urls'
---

<Layout
	title="Happy Hop | Paquetes"
	ogDescription="Perfecto para fiestas infantiles, reuniones familiares o cualquier celebración al aire libre"
	ogUrl="https://happy-hop/paquetes"
	ogImage="https://firebasestorage.googleapis.com/v0/b/general-testing-70f4c.appspot.com/o/happy-hop%2Fhh-paquetes.webp?alt=media&token=8121d8bd-d4ff-4b8a-a3e0-d7cda77850e5"
>
	<main>
		<PageHeader
			class="mb-20"
			title="Paquetes"
			subtitle="Perfectos para fiestas infantiles, reuniones familiares o cualquier celebración al aire libre. "
		>
			<img
				src="/landing/pricing-table.webp"
				alt="planes"
				class="delay-[400ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0 -scale-x-100 -skew-x-12 sm:max-w-[50%] my-0 mx-auto md:max-w-[20rem] lg:absolute lg:-bottom-4 lg:-right-6 lg:max-w-[22rem]"
				data-taos-offset="0"
			/>
		</PageHeader>

		<TitleShadow bgTitle="planes" title="Planes" subtitle="¡Elige uno o arma el tuyo!" />
		<p
			class="delay-[400ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0 block text-2xl antialiased font-semibold text-center max-w-[50ch] mx-auto my-8 leading-snug"
			data-taos-offset="0"
		>
			¡Haz de tu celebración un momento inolvidable con nuestros planes exclusivos! Sea cual sea tu
			estilo, tenemos la opción ideal para ti.
		</p>
		<section
			class="flex gap-4 flex-col md:flex-row md:flex-wrap justify-between items-start gap-y-10 min-h-[450px] my-32 mb-44"
		>
			<PricingCard
				title="BÁSICO"
				buttonText="Contratar"
				imageUrl="/landing/blue-wave.webp"
				href="/contratar/inflable?plan=basico"
				items={['Inflable', 'Invitación digital']}
				class="delay-[000ms] duration-[400ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="0"
			/>
			<PricingCard
				title="SUPER HOP"
				color="purple"
				buttonText="Contratar"
				imageUrl="/landing/purple-wave.webp"
				href="/contratar/inflable?plan=super-hop"
				items={['Inflable', 'Invitación digital', 'Paletas de hielo o helado']}
				class="delay-[300ms] duration-[400ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="0"
			/>
			<PricingCard
				title="A TU MEDIDA"
				color="green"
				buttonText="Contratar"
				imageUrl="/landing/green-wave.webp"
				href="/contratar/inflable?plan=custom"
				items={['Inflable', 'Invitación digital', 'Paletas de hielo o helado']}
				class="delay-[600ms] duration-[400ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="0"
			/>
		</section>
		<TitleShadow
			bgTitle="Invitaciones"
			title="Invitaciones"
			subtitle="¿Solo necesitas una invitación?"
		/>
		<p
			class="delay-[400ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0 block text-2xl antialiased font-semibold text-center max-w-[50ch] mx-auto my-8 leading-snug"
			data-taos-offset="0"
		>
			Creemos que cada gran evento comienza con una invitación perfecta. Por eso, ofrecemos planes
			de invitaciones digitales personalizadas que se adaptan a cada ocasión y estilo.
		</p>
		<section
			class="flex gap-4 flex-col md:flex-row md:flex-wrap justify-between items-start gap-y-10 min-h-[450px] my-32 mb-44"
		>
			<PricingCard
				title="BÁSICA"
				color="pink"
				buttonText="Contratar"
				imageUrl="/landing/pink-wave.webp"
				href={SOCIAL_MEDIA.WHATSAPP}
				class="delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="0"
				items={[
					'Botón de ubicación',
					'Confirmación de asistencia',
					'Agendar en calendario',
					'Lista de invitados confirmados',
					'Cuenta regresiva',
					'Tema personalizado'
				]}
			/>
			<PricingCard
				title="PREMIUM"
				buttonText="Contratar"
				color="indigo"
				imageUrl="/landing/indigo-wave.webp"
				href={SOCIAL_MEDIA.WHATSAPP}
				class="delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="0"
				items={[
					'Todo lo del plan básico',
					'Galeria de fotos',
					'Dresscode',
					'Hashtag en redes sociales',
					'Dedicatorias',
					'Excel de lista de invitados'
				]}
			/>
			<PricingCard
				title="DELUXE"
				color="yellow"
				buttonText="Contratar"
				imageUrl="/landing/yellow-wave.webp"
				href={SOCIAL_MEDIA.WHATSAPP}
				class="delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="0"
				items={[
					'Todo lo del plan premium',
					'Música de fondo',
					'Pases individuales',
					'Mesa de regalos',
					'No. De acompañantes',
					'PDF de lista de invitados'
				]}
			/>
		</section>
	</main>
</Layout>
