---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-4xl font-extrabold mb-6">Política de Privacidad</h1>

		<p class="text-slate-600 mb-10">
			En Happy Hop, valoramos y protegemos la privacidad de nuestros clientes. Esta política
			describe cómo recopilamos, utilizamos y protegemos la información personal proporcionada por
			nuestros usuarios.
		</p>

		<h4 class="font-semibold">1. Información Recopilada:</h4>
		<div class="text-slate-600 mb-10">
			<p>
				Recolectamos información personal, como nombres, direcciones y correos electrónicos, solo
				con el consentimiento explícito del usuario.
			</p>
			<p>
				Para invitaciones digitales, podemos recopilar detalles específicos relacionados con el
				evento.
			</p>
		</div>

		<h4 class="font-semibold">2. Uso de la Información:</h4>
		<div class="text-slate-600 mb-10">
			<p>
				Utilizamos la información recopilada para proporcionar servicios y productos solicitados por
				el usuario.
			</p>
			<p>
				Podemos utilizar la información para mejorar nuestros productos, servicios y comunicaciones.
			</p>
		</div>

		<h4 class="font-semibold">3. Confidencialidad y Seguridad:</h4>
		<div class="text-slate-600 mb-10">
			<p>
				Mantenemos la confidencialidad de la información personal y tomamos medidas para garantizar
				su seguridad.
			</p>
			<p>
				Implementamos medidas técnicas y organizativas para proteger contra el acceso no autorizado
				o la divulgación de información.
			</p>
		</div>

		<h4 class="font-semibold">4. Compartir Información:</h4>
		<div class="text-slate-600 mb-10">
			<p>
				No compartimos información personal con terceros sin el consentimiento del usuario, excepto
				cuando sea necesario para la prestación de servicios solicitados.
			</p>
			<p>
				Podemos divulgar información en respuesta a solicitudes legales o para cumplir con la ley.
			</p>
		</div>

		<h4 class="font-semibold">5. Cookies y Tecnologías Similares:</h4>
		<div class="text-slate-600 mb-10">
			<p>
				Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario y
				recopilar información sobre el uso del sitio web.
			</p>
		</div>

		<h4 class="font-semibold">6. Enlaces a Terceros:</h4>
		<p class="text-slate-600 mb-10">
			Nuestro sitio web puede contener enlaces a sitios de terceros. No nos hacemos responsables de
			las prácticas de privacidad de dichos sitios.
		</p>

		<h4 class="font-semibold">7. Consentimiento del Usuario:</h4>
		<div class="text-slate-600 mb-10">
			<p>
				Al utilizar nuestros servicios, el usuario acepta los términos de esta política de
				privacidad.
			</p>
		</div>

		<h4 class="font-semibold">8. Cambios en la Política de Privacidad:</h4>
		<div class="text-slate-600 mb-10">
			<p>
				Nos reservamos el derecho de modificar esta política en cualquier momento. Los cambios
				entrarán en vigencia al ser publicados en el sitio web.
			</p>
		</div>

		<p class="text-slate-600 mb-10">
			En Happy Hop, nos comprometemos a proteger la privacidad de nuestros usuarios y a cumplir con
			las leyes de privacidad aplicables. Si tiene alguna pregunta o inquietud sobre nuestra
			política de privacidad, contáctenos.
		</p>
	</main>
</Layout>
