<div class="grid grid-cols-3 gap-4 w-full md:w-1/2 aspect-square">
	<div class="grid gap-4 grid-rows-[auto_20%_auto]">
		<div
			class="flex justify-center items-center bg-sky-400 rounded-lg hover:scale-125 hover:outline hover:outline-8 hover:outline-offset-8 hover:outline-sky-500 transition-all"
		>
			<img class="max-h-full" src="/inflatable-castle.webp" alt="castillo inflable" />
		</div>
		<div
			class="flex justify-center items-center bg-indigo-400 rounded-lg hover:scale-125 hover:outline hover:outline-8 hover:outline-offset-8 hover:outline-indigo-500 transition-all"
		>
			<img class="max-h-full" src="/inflatable-ice-cream-cone.webp" alt="Helado" />
		</div>
		<div
			class="flex justify-center items-center bg-green-400 rounded-lg hover:scale-125 hover:outline hover:outline-8 hover:outline-offset-8 hover:outline-green-500 transition-all"
		>
			<img class="max-h-full" src="/cool.webp" alt="Paleta de hielo" />
		</div>
	</div>
	<div class="grid gap-4 grid-rows-[35%_auto_25%]">
		<div
			class="flex justify-center items-center bg-pink-400 rounded-lg hover:scale-125 hover:outline hover:outline-8 hover:outline-offset-8 hover:outline-pink-500 transition-all"
		>
			<img class="max-h-full" src="/star-3d.webp" alt="Emoji con estrellas" />
		</div>
		<div
			class="flex justify-center items-center bg-yellow-400 rounded-lg hover:scale-125 hover:outline hover:outline-8 hover:outline-offset-8 hover:outline-yellow-500 transition-all"
		>
			<img class="max-h-full" src="/kiddy-pool.webp" alt="alberca con pelotas" />
		</div>
		<div
			class="flex justify-center items-center bg-red-400 rounded-lg hover:scale-125 hover:outline hover:outline-8 hover:outline-offset-8 hover:outline-red-500 transition-all"
		>
			<img class="max-h-full" src="/wedding-invitation.webp" alt="Invitacion" />
		</div>
	</div>
	<div class="grid gap-4 grid-rows-[20%_35%_auto]">
		<div
			class="flex justify-center items-center bg-sky-400 rounded-lg hover:scale-125 hover:outline hover:outline-8 hover:outline-offset-8 hover:outline-sky-500 transition-all"
		>
			<img class="max-h-full" src="/beach-ball.webp" alt="pelota de playa" />
		</div>
		<div
			class="flex justify-center items-center bg-indigo-400 rounded-lg hover:scale-125 hover:outline hover:outline-8 hover:outline-offset-8 hover:outline-indigo-500 transition-all"
		>
			<img class="max-h-full" src="/inflatable-ice-cream-stick.webp" alt="Emoji 2" />
		</div>
		<div
			class="flex justify-center items-center bg-green-400 rounded-lg hover:scale-125 hover:outline hover:outline-8 hover:outline-offset-8 hover:outline-green-500 transition-all"
		>
			<img class="max-h-full" src="/trampoline.webp" alt="trampolin" />
		</div>
	</div>
</div>
