<div class="flex flex-col w-full px-4 z-50">
	<div class="min-h-[17rem] max-h-[17rem] grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div
			class="flex flex-col justify-center items-center text-center py-8 delay-[100ms] duration-[1000ms] taos:translate-x-[200px] taos:opacity-0"
			data-taos-offset="10"
		>
			<picture
				class="w-20 h-20 border-2 bg-[#f7adb12f] border-white/40 rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/salon.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain opacity-70"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">
				Recepción
			</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				Majesty Event Center
			</p>
			<!-- <AddToCalendarButton
				client:only="react"
				eventName="Misa de XV años - Staci Naomi"
				locationUrl="https://maps.app.goo.gl/S4bKFDcECCReFRXQ8"
				date={{ startDate: '2024-06-22', startTime: '17:45', endTime: '18:45' }}
			/> -->
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div
			class="flex justify-start items-center pl-6 ms:pl-12 py-8 delay-[200ms] duration-[1000ms] taos:translate-x-[-200px] taos:opacity-0"
			data-taos-offset="10"
		>
			<p class="text-yellow-500 opacity-80 italic font-[Lora] text-base">Hasta las 4:00 pm</p>
		</div>
	</div>

	<div class="min-h-[17rem] max-h-[17rem] grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div
			class="flex justify-end items-center pr-4 ms:pr-12 py-8 delay-[100ms] duration-[1000ms] taos:translate-x-[-200px] taos:opacity-0"
			data-taos-offset="10"
		>
			<p class="text-yellow-500 opacity-80 italic font-[Lora] text-base w-fit">4:00 pm - 6:00 pm</p>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div
			class="flex flex-col justify-center items-center text-center py-8 delay-[200ms] duration-[1000ms] taos:translate-x-[200px] taos:opacity-0"
			data-taos-offset="10"
		>
			<picture
				class="w-20 h-20 border-2 bg-[#f7adb12f] border-white/40 rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/food.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain opacity-70"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">
				Comida
			</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				Cenar juntos hará de esta noche aún más especial
			</p>
			<!-- <AddToCalendarButton
				client:only="react"
				eventName="Recepción de XV años - Staci Naomi"
				locationUrl="https://maps.app.goo.gl/4p2wnQSzj9JLYAU19"
				date={{ startDate: '2024-06-22', startTime: '19:00', endTime: '19:30' }}
			/> -->
		</div>
	</div>

	<div class="min-h-[17rem] max-h-[17rem] grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div
			class="flex flex-col justify-center items-center text-center py-8 delay-[100ms] duration-[1000ms] taos:translate-x-[200px] taos:opacity-0"
			data-taos-offset="10"
		>
			<picture
				class="w-20 h-20 border-2 bg-[#f7adb12f] border-white/40 rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/dance.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain opacity-70"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">
				Presentación
			</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				Se parte de este momento especial
			</p>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div
			class="flex justify-start items-center pl-6 ms:pl-12 py-8 delay-[200ms] duration-[1000ms] taos:translate-x-[-200px] taos:opacity-0"
			data-taos-offset="10"
		>
			<p class="text-yellow-500 opacity-80 italic font-[Lora] text-base">6:15 pm</p>
		</div>
	</div>

	<div class="min-h-[17rem] max-h-[17rem] grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div
			class="flex justify-end items-center pr-4 ms:pr-12 py-8 delay-[100ms] duration-[1000ms] taos:translate-x-[-200px] taos:opacity-0"
			data-taos-offset="10"
		>
			<p class="text-yellow-500 opacity-80 italic font-[Lora] text-base max-w-[8ch]">7:15 pm</p>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div
			class="flex flex-col justify-center items-center text-center py-8 delay-[100ms] duration-[1000ms] taos:translate-x-[200px] taos:opacity-0"
			data-taos-offset="10"
		>
			<picture
				class="w-20 h-20 border-2 bg-[#f7adb12f] border-white/40 rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/banda.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain opacity-70"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">Baile</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				Acompañanos a disfrutar de la música y la diversión
			</p>
		</div>
	</div>

	<div class="min-h-[17rem] max-h-[17rem] grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div
			class="flex flex-col justify-center items-center text-center py-8 delay-[100ms] duration-[1000ms] taos:translate-x-[200px] taos:opacity-0"
			data-taos-offset="10"
		>
			<picture
				class="w-20 h-20 border-2 bg-[#f7adb12f] border-white/40 rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/heart.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain opacity-70"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">
				Fin recepción
			</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				¡Gracias!
			</p>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div
			class="flex justify-start items-center pl-6 ms:pl-12 py-8 delay-[100ms] duration-[1000ms] taos:translate-x-[-200px] taos:opacity-0"
			data-taos-offset="10"
		>
			<p class="text-yellow-500 opacity-80 italic font-[Lora] text-base">12:00 am</p>
		</div>
	</div>
</div>
