---
import LayoutInvite from '../../../../layouts/LayoutXV.astro'
import PlaceCard from '../../../../components/xv/staci/PlaceCard.astro'
import ConfirmAsistance from '../../../../components/xv/staci/ConfirmAsistance'
import TimeLine from '../../../../components/xv/staci/TimeLine.astro'
import Gallery from '../../../../components/xv/staci/GalleryXV.astro'
import AttendanceList from './AttendanceList'
---

<LayoutInvite title="XV Staci Naomi">
	<main class="w-full xs:max-w-full ms:max-w-[500px] mx-auto bg-white min-h-screen">
		<section class="bg-[#ba999b] text-white py-16 px-8 relative">
			<img src="/invites/xv/staci/waves.svg" alt="waves" class="absolute top-0 left-0" />
			<div class="flex flex-col mb-4">
				<h4
					class="text-center font-light xs:text-4xl ms:text-5xl mb-4 delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-50"
					style="font-family: 'MonteCarlo';"
				>
					Staci Naomi
				</h4>

				<p
					style="font-family: 'Lora';"
					class="italic text-center text-lg delay-[200ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-50"
				>
					Aquí puedes visualizar las confirmaciones de asistencia
				</p>
			</div>
			<img
				src="/invites/xv/staci/decoration-white.svg"
				alt="decortion"
				class="w-[60%] mx-auto mb-8 delay-[400ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="-50"
			/>
			<img
				src="/invites/xv/staci/waves.svg"
				alt="waves"
				class="absolute bottom-0 left-0 rotate-180"
			/>
		</section>
		<section
			class="bg-white flex justify-center items-center flex-col py-16 delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
			data-taos-offset="-50"
		>
			<h4 style="font-family:Cinzel Decorative;" class="xs:text-2xl text-3xl mb-4">
				Lista de invitados
			</h4>
			<AttendanceList client:only="react" />
		</section>

		<footer class="mt-auto">
			<div class="bg-white py-4 text-center">
				<p style="font-family: 'Lora';" class="italic text-lg">Con ❤️ Staci Naomi</p>
			</div>
		</footer>
	</main>

	<style is:global>
		@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=MonteCarlo&display=swap');

		.staci-hero {
			position: relative;
			display: inline-block;
		}

		.first-message {
			z-index: 1;
		}

		.first-message::before {
			content: '"';
			font-family: 'MonteCarlo', Courier, monospace;
			position: absolute;
			top: -20rem;
			left: -5rem;
			font-size: 35rem;
			z-index: -1;
			color: rgba(255, 255, 255, 0.217);
		}
	</style>
</LayoutInvite>
