---
import LayoutInvite from '../../../../layouts/LayoutXV.astro'
import PlaceCard from '../../../../components/xv/staci/PlaceCard.astro'
import ConfirmAsistance from '../../../../components/xv/staci/ConfirmAsistance'
import CountdownTimer from '../../../../components/xv/staci/CountdownTimer'
import TimeLine from '../../../../components/xv/staci/TimeLine.astro'
import Gallery from '../../../../components/xv/staci/GalleryXV.astro'
---

<LayoutInvite title="XV Staci Naomi">
	<main class="w-full max-w-full ms:max-w-[500px] mx-auto bg-black min-h-screen overflow-x-hidden">
		<header class="flex justify-center items-center flex-col relative w-full">
			<img
				src="/invites/xv/staci/staci-naomi-hero.webp"
				alt="Staci Naomi"
				class="staci-hero w-full min-h-screen max-h-screen object-cover"
				style="mask-image: linear-gradient(to bottom, rgba(0,0,0) 50%,transparent 100%);"
			/>
			<div class="absolute bottom-0 py-4 flex justify-center items-center flex-col text-center">
				<h1
					class="text-white xs:text-2xl ms:text-3xl pl-2 delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-300"
					style="font-family: 'Cinzel Decorative';"
				>
					mis xv años
				</h1>
				<h2
					class="text-white xs:text-6xl ms:text-7xl mt-1 mb-4 delay-[100ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-300"
					style="font-family: 'MonteCarlo';"
				>
					Staci Naomi
				</h2>
				<h3
					class="text-white xs:text-1xl ms:text-3xl mb-2 pl-2 delay-[200ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-300"
					style="font-family: 'Cinzel Decorative';"
				>
					22 de Junio
				</h3>
			</div>
		</header>
		<section class="first-message bg-[#ba999b] text-white py-6 px-8 relative w-full">
			<p
				class="text-center font-light py-8 italic xs:text-base ms:text-xl z-10 delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="-200"
				style="font-family: 'Lora';"
			>
				Que estos 15 Años que hoy empiezo a vivir y de los cuales no me olvidaré por ser un día tan
				especial, sean el despertar de un largo y dulce camino por la vida lleno de sueños y
				alegrías. Será un placer compartir contigo este feliz día.
			</p>
		</section>
		<CountdownTimer client:only="react" />
		<section class="bg-[#ba999b] text-white py-16 px-8 relative w-full">
			<img src="/invites/xv/staci/waves.svg" alt="waves" class="absolute top-0 left-0 w-full" />
			<div class="flex flex-col mb-4">
				<h4
					class="text-center font-light xs:text-4xl ms:text-5xl mb-4 delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-50"
					style="font-family: 'MonteCarlo';"
				>
					Mis padres
				</h4>

				<p
					style="font-family: 'Lora';"
					class="italic text-center text-lg delay-[200ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-50"
				>
					Sr. Andrés Hernández Navarrete
					<br />
					Sra. Elisa Gonzaga Tagle
				</p>
			</div>
			<img
				src="/invites/xv/staci/decoration-white.svg"
				alt="decortion"
				class="w-[60%] mx-auto mb-8 delay-[400ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="-50"
			/>
			<p
				style="font-family: 'Lora';"
				class="italic text-center xs:text-xl ms:text-xl mb-3 xs:max-w-[98%] ms:max-w-[75%] mx-auto delay-[800ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="-50"
			>
				Nos complace invitarte a ser parte de este gran día.
			</p>
			<img
				src="/invites/xv/staci/waves.svg"
				alt="waves"
				class="absolute bottom-0 left-0 rotate-180 w-full"
			/>
		</section>
		<section class="bg-white flex justify-center items-center flex-col py-16 gap-16 w-full">
			<h4
				style="font-family:Cinzel Decorative;"
				class="text-3xl mb-[4rem] delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="-50"
			>
				Ubicaciones
			</h4>
			<PlaceCard
				imageUrl="/invites/xv/staci/church1.webp"
				title="Ceremonia Religiosa"
				subtitle="Parroquia de Nuestra Señora del Carmen"
				address="Av. Texcoco S/N, Floresta, 56420 Los Reyes Acaquilpan, Méx."
				date="Sábado 22 de junio de 2024"
				time="17:45 hrs."
				link="https://maps.app.goo.gl/4p2wnQSzj9JLYAU19"
			/>
			<div class="mb-[2rem]"></div>
			<PlaceCard
				imageUrl="/invites/xv/staci/rey-leon.webp"
				title="Recepción"
				subtitle="Salón de eventos El Rey León"
				address="Tenancingo Manzana 013, 56430 Los Reyes Acaquilpan, Méx."
				date="Sábado 22 de junio de 2024"
				time="19:00 hrs."
				link="https://maps.app.goo.gl/S4bKFDcECCReFRXQ8"
			/>
		</section>
		<section class="bg-[#ba999b] flex justify-center items-center flex-col py-16 relative w-full">
			<img src="/invites/xv/staci/waves.svg" alt="waves" class="absolute top-0 left-0 w-full" />
			<h4
				style="font-family:Cinzel Decorative;"
				class="text-3xl mb-[1rem] mt-6 text-white delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
				data-taos-offset="-50"
			>
				Itinerario
			</h4>
			<TimeLine />
		</section>
		<section class="w-full">
			<div class="bg-white pt-16 pb-0 px-8 relative w-full">
				<img
					src="/invites/xv/staci/waves-secondary.svg"
					alt="waves"
					class="absolute top-0 left-0 w-full"
				/>
				<h4
					style="font-family:Cinzel Decorative;"
					class="text-3xl mb-[1rem] mt-6 text-center delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-30"
				>
					Dresscode
				</h4>
				<p
					style="font-family: 'Lora';"
					class="italic text-center text-2xl delay-[200ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-30"
				>
					Formal
				</p>
				<div
					class="flex justify-center my-6 ms:my-10 mb-20 delay-[400ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-30"
				>
					<img src="/invites/xv/staci/woman.svg" alt="decortion" class="w-20 ms:w-28" />
					<img src="/invites/xv/staci/man.svg" alt="waves" class="w-20 ms:w-28" />
				</div>
				<img
					src="/invites/xv/staci/decoration2.svg"
					alt="decortion"
					class="w-[60%] mx-auto mb-10 rotate-180 delay-[600ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-30"
				/>
				<p
					style="font-family: 'Lora';"
					class="italic text-center text-lg mb-4 max-w-[70%] mx-auto delay-[800ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-30"
				>
					Comparte las fotos de mis quince años con el hashtag
				</p>
				<p
					style="font-family: 'Lora';"
					class="italic text-center text-2xl mb-10 delay-[1000ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-30"
				>
					#NaomiFest🧡
				</p>
				<img
					src="/invites/xv/staci/decoration2.svg"
					alt="decortion"
					class="w-[60%] mx-auto delay-[1100ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-30"
				/>
			</div>
			<div class="bg-white py-10 px-8 relative">
				<h4
					style="font-family:Cinzel Decorative;"
					class="text-3xl mb-[2rem] mt-6 text-center delay-[0ms] duration-[1000ms] taos:translate-y-[200px] taos:opacity-0"
					data-taos-offset="-30"
				>
					Galería
				</h4>
				<Gallery />
			</div>
		</section>
		<section class="w-full">
			<div class="bg-[#ba999b] py-16 px-8 relative w-full">
				<img src="/invites/xv/staci/waves.svg" alt="waves" class="absolute top-0 left-0 w-full" />

				<ConfirmAsistance client:only="react" />
				<img
					src="/invites/xv/staci/waves.svg"
					alt="waves"
					class="absolute bottom-0 left-0 rotate-180 w-full"
				/>
			</div>
		</section>
		<footer class="w-full">
			<div class="bg-white py-4 text-center w-full">
				<p style="font-family: 'Lora';" class="italic text-lg">Con ❤️ Staci Naomi</p>
			</div>
		</footer>
	</main>

	<style is:global>
		@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=MonteCarlo&display=swap');

		.staci-hero {
			position: relative;
			display: inline-block;
		}

		.first-message {
			z-index: 1;
		}

		.first-message::before {
			content: '"';
			font-family: 'MonteCarlo', Courier, monospace;
			position: absolute;
			top: -20rem;
			left: -5rem;
			font-size: 35rem;
			z-index: -1;
			color: rgba(255, 255, 255, 0.217);
		}
	</style>
</LayoutInvite>
