---
type Props = {
	title?: string
	ogDescription?: string
	ogImage?: string
	ogUrl?: string
	bgColor?: string
	bgImage?: string
}

const {
	title = 'Invitación digital',
	ogDescription,
	ogImage,
	ogUrl,
	bgColor = '#f1f8ff',
	bgImage = null
} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={ogDescription || 'Saltos, risas y momentos inolvidables te esperan'}
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta
			property="og:description"
			content={ogDescription || 'Saltos, risas y momentos inolvidables te esperan'}
		/>
		<meta
			property="og:image"
			content={ogImage ||
				'https://firebasestorage.googleapis.com/v0/b/general-testing-70f4c.appspot.com/o/happy-hop%2Fhh-home.webp?alt=media&token=65b86b85-3d7d-4790-940b-b9396a921ffa'}
		/>
		<meta property="og:url" content={ogUrl || 'https://happy-hop.com'} />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global define:vars={{ bgColor, bgImage }}>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	@font-face {
		font-family: 'MinecraftTen';
		src: url('/fonts/MinecraftTen.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	html {
		font-family: 'MinecraftTen', system-ui, sans-serif;
		background-color: var(--bgColor);
	}

	main {
		margin: 0 auto;
		max-width: 500px;
		min-width: 100dvw;
		font-size: 20px;
		line-height: 1.6;
		overflow-x: hidden;
		overflow-y: scroll;
		background-color: gray;
		min-height: 100dvh;
		max-height: 100dvh;
		box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.2);
		position: relative;
	}

	body::before {
		content: '';
		min-width: 100dvw;
		max-width: 100dvw;
		min-height: 100dvh;
		max-height: 100dvh;
		background-image: url('/invites/minecraft/hero.webp');
		filter: blur(1rem);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		transform: scale(1.2);
		position: absolute;
		left: 0;
		top: 0;
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	*::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	* {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
</style>
