---
import 'aos/dist/aos.css' // AOS styles
import Navbar from './Navbar'
import Footer from './Footer.astro'
interface Props {
	title: string
	ogDescription?: string
	ogImage?: string
	ogUrl?: string
}

const { title, ogDescription, ogImage, ogUrl } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={ogDescription || 'Saltos, risas y momentos inolvidables te esperan'}
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:title" content={title} />
		<meta
			property="og:description"
			content={ogDescription || 'Saltos, risas y momentos inolvidables te esperan'}
		/>
		<meta
			property="og:image"
			content={ogImage ||
				'https://firebasestorage.googleapis.com/v0/b/general-testing-70f4c.appspot.com/o/happy-hop%2Fhh-home.png?alt=media&token=33a2ddaa-4250-4cf3-acb8-feff27ba3fcd'}
		/>
		<meta property="og:url" content={ogUrl || 'https://happy-hop.com'} />
	</head>
	<body>
		<Navbar client:only="react" />
		<slot />
		<Footer />

		<!-- animate on scroll script -->
		<script>
			import { aosInit } from '../js/aos'

			// runs on initial page load
			aosInit()
		</script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #ffffff;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	main {
		margin: 100px auto auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
		overflow: visible;
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	*::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	* {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
</style>
