<h2
	class="text-center xs:mt-2 ms:mt-3 mb-0 mx-0 xs:text-6xl ms:text-7xl animate-fade-up animate-once animate-duration-700 animate-delay-[200ms]"
>
	<span class="delay-1 xs:text-3xl ms:text-5xl shadow-scoob">y</span>
</h2>
<h2
	class="text-center mt-1 mb-2 mx-0 xs:text-6xl ms:text-7xl animate-fade-up animate-once animate-duration-700 animate-delay-[200ms]"
>
	<span class="delay-2 shadow-scoob">A</span>
	<span class="delay-3 shadow-scoob">L</span>
	<span class="delay-4 shadow-scoob">E</span>
	<span class="delay-5 shadow-scoob">X</span>
	<span class="delay-6 shadow-scoob">Y</span>
	<span class="delay-7 shadow-scoob">S</span>
</h2>

<style>
	h1 {
		font-family: 'ScoobEpic';
		letter-spacing: -0.4rem;
	}

	span {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		animation: waviy 1.5s infinite;
		font-family: 'ScoobEpic';
		line-height: 1.8;
		letter-spacing: -0.3rem;
	}

	.delay-1 {
		animation-delay: calc(0.12s * 1);
	}

	.delay-2 {
		animation-delay: calc(0.12s * 2);
	}

	.delay-3 {
		animation-delay: calc(0.12s * 3);
	}
	.delay-4 {
		animation-delay: calc(0.12s * 4);
	}
	.delay-5 {
		animation-delay: calc(0.12s * 5);
	}

	.delay-6 {
		animation-delay: calc(0.12s * 6);
	}

	.delay-7 {
		animation-delay: calc(0.12s * 7);
	}

	.delay-8 {
		animation-delay: calc(0.12s * 8);
	}
	.delay-9 {
		animation-delay: calc(0.12s * 9);
	}
	.delay-10 {
		animation-delay: calc(0.12s * 10);
	}
	.delay-11 {
		animation-delay: calc(0.12s * 11);
	}
	.delay-12 {
		animation-delay: calc(0.12s * 12);
	}
	.delay-13 {
		animation-delay: calc(0.12s * 13);
	}

	@keyframes waviy {
		0%,
		40%,
		100% {
			transform: translateY(0);
		}
		20% {
			transform: translateY(-20px);
		}
	}
</style>
