<div class="flex flex-col w-full px-4">
	<div class="grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div class="flex flex-col justify-center items-center text-center py-8">
			<picture
				class="w-20 h-20 border-2 bg-[#d1bbbc83] border-white rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/church.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">Misa</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				Parroquia de Nuestra Señora del Carmen
			</p>
			<a
				href="https://maps.app.goo.gl/S4bKFDcECCReFRXQ8"
				target="_blank"
				class="bg-white text-[#ce9f95] py-2 px-4 xs:text-sm ms:text-base w-[5rem] text-center hover:shadow-lg transition duration-300 ease-in-out"
				style="font-family: 'Lora';"
			>
				Mapa
			</a>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div class="flex justify-start items-center pl-6 ms:pl-12 py-8">
			<p class="text-white opacity-80 italic font-[Lora] text-base">5:45 PM</p>
		</div>
	</div>

	<div class="grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div class="flex justify-end items-center pr-4 ms:pr-12 py-8">
			<p class="text-white opacity-80 italic font-[Lora] text-base max-w-[8ch]">
				7:00 PM A 7:30 PM
			</p>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div class="flex flex-col justify-center items-center text-center py-8">
			<picture
				class="w-20 h-20 border-2 bg-[#d1bbbc83] border-white rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/salon.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">
				Recepción
			</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				Salón de eventos El Rey León
			</p>
			<a
				href="https://maps.app.goo.gl/4p2wnQSzj9JLYAU19"
				target="_blank"
				class="bg-white text-[#ce9f95] py-2 px-4 xs:text-sm ms:text-base w-[5rem] text-center hover:shadow-lg transition duration-300 ease-in-out"
				style="font-family: 'Lora';"
			>
				Mapa
			</a>
		</div>
	</div>

	<div class="grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div class="flex flex-col justify-center items-center text-center py-8">
			<picture
				class="w-20 h-20 border-2 bg-[#d1bbbc83] border-white rounded-full flex justify-center items-center mb-4"
			>
				<img src="/invites/xv/staci/food.svg" alt="church" class="w-[60%] h-[60%] object-contain" />
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">Cena</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				Cenar juntos hará de esta noche aún más especial
			</p>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div class="flex justify-start items-center pl-6 ms:pl-12 py-8">
			<p class="text-white opacity-80 italic font-[Lora] text-base">7:40 PM</p>
		</div>
	</div>

	<div class="grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div class="flex justify-end items-center pr-4 ms:pr-12 py-8">
			<p class="text-white opacity-80 italic font-[Lora] text-base max-w-[8ch]">8:15 PM</p>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div class="flex flex-col justify-center items-center text-center py-8">
			<picture
				class="w-20 h-20 border-2 bg-[#d1bbbc83] border-white rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/dance.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">Bals</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				Ven a bailar y disfrutar en gran compañía
			</p>
		</div>
	</div>

	<div class="grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div class="flex flex-col justify-center items-center text-center py-8">
			<picture
				class="w-20 h-20 border-2 bg-[#d1bbbc83] border-white rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/batucada.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">
				Batucada
			</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				Ritmos vibrantes, baile y alegría.
			</p>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div class="flex justify-start items-center pl-6 ms:pl-12 py-8">
			<p class="text-white opacity-80 italic font-[Lora] text-base">9:15 PM</p>
		</div>
	</div>

	<div class="grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div class="flex justify-end items-center pr-4 ms:pr-12 py-8">
			<p class="text-white opacity-80 italic font-[Lora] text-base max-w-[8ch]">9:45 PM</p>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div class="flex flex-col justify-center items-center text-center py-8">
			<picture
				class="w-20 h-20 border-2 bg-[#d1bbbc83] border-white rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/banda.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">Banda</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				Banda en vivo: ritmo perfecto para una fiesta
			</p>
		</div>
	</div>

	<div class="grid grid-cols-[1fr_1px_1fr] items-center relative">
		<div class="flex flex-col justify-center items-center text-center py-8">
			<picture
				class="w-20 h-20 border-2 bg-[#d1bbbc83] border-white rounded-full flex justify-center items-center mb-4"
			>
				<img
					src="/invites/xv/staci/heart.svg"
					alt="church"
					class="w-[60%] h-[60%] object-contain"
				/>
			</picture>
			<h5 class="text-xl font-medium text-white italic mb-1" style="font-family: 'Lora';">
				Fin recepción
			</h5>
			<p
				class="text-white opacity-80 italic font-[Lora] text-xs ms:text-sm mb-4 font-thin max-w-[15ch] ms:max-w-[20ch]"
			>
				¡Gracias!
			</p>
		</div>
		<div class="h-full w-full bg-white opacity-40"></div>
		<div class="flex justify-start items-center pl-6 ms:pl-12 py-8">
			<p class="text-white opacity-80 italic font-[Lora] text-base"></p>
		</div>
	</div>
</div>
